.homePageContent {
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__logo {
        width: 162px;
        margin: $spacing * 2 0px $spacing 0px;
    }

    &__location {
        justify-content: center;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: $card-color;
        box-shadow: 0px -2px 8px $shadow-color;
        font-size: 16px;
        font-weight: 500;
        color: $dark-grey;
    }

    &__locationIcon {
        display: flex;
        align-items: center;
        width: 12px;
        height: 16px;
        margin-right: $spacing * 2;
    }

    &__presentation {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-image: linear-gradient(to bottom, $white 80%, $light-grey);
        padding: $spacing * 3 $spacing * 3 0px $spacing * 3;
        width: 100%;
    }

    &__title {
        font-size: $title-size;
        font-weight: 700;
        overflow-wrap: break-word;
    }

    &__text {
        font-size: 18px;
        font-weight: 300;
        color: $dark-grey;
        margin-top: 0px;
        overflow-wrap: break-word;
    }

    &__button {
        padding: $spacing * 2 $spacing * 3;
        margin: $spacing  0px $spacing * 7 0px;
        text-decoration: none;
    }
}

.operation {
    padding: 0px $spacing * 3;

    &__title {
        font-size: $title-size;
        font-weight: 700;
        margin: $spacing * 6 0px $spacing * 3 0px;
    }

    &__navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__navigationWrapper {
        display: flex;
        align-items: center;
        margin-bottom: $spacing * 3;
    }

    &__numberIcon {
        position: absolute;
        z-index: 1;
        background: $color-primary;
        border-radius: 50%;
        border: 6px solid $color-primary;
        width: 12px;
        color: $white;
        font-size: 12px;
        &::before {
            display: flex;
            justify-content: center;
        }
    }

    &__link:hover &__Icon {
        color: $color-primary;
        opacity: 1;
    }

    &__link:link {
        text-decoration: none;
        color: $black;
    }

    &__link:active {
        color: $black;
    }

    &__link:visited {
        color: $black;
    }

    &__navigationCard {
        display: flex;
        align-items: center;
        margin-left: 12px;
        padding: $spacing * 2 $spacing * 9 $spacing * 2 $spacing * 6;
        background: $card-color;
        border-radius: 20px;
        box-shadow: 5px 5px 20px $shadow-color;
    }

    &__navigationCard:hover {
        background: lighten($color-primary, 35%);
    }

    &__Icon {
        margin: 0px $spacing * 3 0px -12px;
        font-size: 20px;
        opacity: 0.5;
        height: 20px;
        width: 13px;
        &::before {
            display: flex;
            align-items: center;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
    }
}

.restaurants {
    background-color: $card-color;
    padding: 0px $spacing * 3 $spacing * 5 $spacing * 3;
    margin-top: $spacing * 5;
    
    &__link:link {
        color: $black;
        text-decoration: none;
        width: 100%;
    }

    &__title {
        font-size: $title-size;
        font-weight: 700;
        padding-top: $spacing * 7;
        margin: 0px 0px $spacing * 4 0px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $spacing * 3;
    }

    &__picture {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        background-size: cover;
        width: 100%;
        height: 231px;
        border-radius: 20px 20px 0px 0px;
    }

    &__picture--PaletteduGout {
        background-image: url("../../images/laPaletteDuGout.jpg");
        background-position: top -70px right;
    }

    &__picture--NoteEnchantee {
        background-image: url("../../images/laNoteEnchantee.jpg");
        background-position: top -202px right;
    }

    &__picture--AlaFrancaise {
        background-image: url("../../images/aLaFrancaise.jpg");
        background-position: bottom 0px right;
    }

    &__picture--DelicedesSens {
        background-image: url("../../images/leDeliceDesSens.jpg");
        background-position: bottom 0px right;
    }

    &__new {
        border: 1px solid $color-tertiary;
        border-radius: 3px;
        color: darken($color-tertiary, 40%);
        background-color: $color-tertiary;
        padding: $spacing $spacing * 2;
        margin-right: $spacing * 2;
        font-weight: 500;
        font-size: 14px;
    }

    &__legend {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $white;
        border-radius: 0px 0px 20px 20px;
        box-shadow: 5px 5px 20px $shadow-color;
        border-top: none;
        background: $white;
        padding: $spacing * 2 $spacing * 3 0px $spacing * 2;
        height: 77px;
    }

    &__legendWrapper {
        color: $black;
    }

    &__name {
        font-size: 18px;
        font-weight: 700;
        margin: 0px 0px $spacing 0px;
    }

    &__district {
        margin: 0px;
        font-size: 18px;
        font-weight: 300;
    }
}

.footer {
    background-color: $dark-grey;
    padding: $spacing * 3 0px $spacing * 4 $spacing * 3;

    &__logo {
        width: 137px;
        filter: invert(100%);
        margin: 0px 0px $spacing * 2 0px;
    }

    &__textWrapper {
        display: flex;
        align-items: baseline;
    }

    &__icon {
        margin: 0px $spacing * 2 0px 0px;
        color: $white;
    }

    &__text {
        margin: 0px 0px $spacing 0px;
        font-size: 16px;
        font-weight: 500;
    }

    &__link {
        color: $white;
    }

    &__link:link {
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) {
    .header {

        &__logo {
            width: 200px;
            margin: $spacing * 3 0px;
        }

        &__title {
            font-size: 40px;
            margin: $spacing * 2 0px;
        }

        &__text {
            margin: 0px;
        }

        &__button {
            margin: $spacing * 2 0px $spacing * 5 0px;
        }
    }
    
    .operation {
        padding: 0px 0px 0px $spacing * 10;

        &__navigation {
            flex-direction: row;
            justify-content: center;
        }

        &__navigationWrapper {
            margin: 0px $spacing * 4 $spacing * 5 0px;
        }
    }

    .restaurants {
        padding: 0px $spacing * 5 $spacing * 10 $spacing * 5;

        &__title {
            padding: $spacing * 6 0px 0px $spacing * 5;
        }

        &__wrapper {
            display: flex;
            justify-content: center;
            gap: $spacing * 3;
        }

        &__picture {
            width: 300px;
            height: 175px;
        }

        &__picture--PaletteduGout, &__picture--NoteEnchantee, &__picture--AlaFrancaise, &__picture--DelicedesSens {
            background-position: 0%;
        }

        &__card {
            margin-bottom: 0px;
        }
    }
}

@media screen  and (max-width: 1300px) {
    .operation {
        &__navigation {
            flex-wrap: wrap;
        }
    }

    .restaurants {
        &__wrapper {
            flex-wrap: wrap;
        }
    }
}
