.menuContent {
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

.menuHeader {
    display: flex;
    align-items: center;
    margin: $spacing * 2 $spacing * 3;

    &__link {
    color: $dark-grey;
    }

    &__icon {
        font-size: 24px;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__logo {
        width: 162px;
    }
}

.section {
    &__picture {
        width: 100%;
        height: 350px;
        background-size: cover;
    }

    &__picture--PaletteduGout {
        background-image: url("../../images/laPaletteDuGout.jpg");
    }

    &__picture--NoteEnchantee {
        background-image: url("../../images/laNoteEnchantee.jpg");
        background-position: top -130px right;
    }

    &__picture--AlaFrancaise {
        background-image: url("../../images/aLaFrancaise.jpg");
    }

    &__picture--DelicedesSens {
        background-image: url("../../images/leDeliceDesSens.jpg");
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        background: $card-color;
        border: 1px solid $card-color;
        border-radius: 40px 40px 0px 0px;
        margin-top: -$spacing * 8;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: $spacing * 4 $spacing * 5 0px $spacing * 2;
    }

    &__title {
        font-family: "Shrikhand", sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 28px;
        margin: 0px;
    }

    &__button {
        padding: $spacing * 2 $spacing * 6;
        margin: $spacing * 4 0px $spacing * 10 0px;
        text-decoration: none;
    }
}

@keyframes menu {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }
    
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.menu {
    margin: 0px $spacing * 2;

    &__title {
        font-size: 16px;
        font-weight: 300;
        margin: $spacing * 5 0px 0px 0px;
        border-bottom: 3px solid $color-tertiary;
        padding-bottom: $spacing;
        width: 9%;
    }

    &__iconWrapper {
        display: none;
    }

    &__icon {
        display: none;
    }

    &__choice {
        border-radius: 20px;
        background: $white;
        margin-top: $spacing * 2;
        box-shadow: 5px 5px 20px $shadow-color;
        animation: menu 1000ms backwards;
        @for $i from 1 through 4 {
            &--#{$i} {
                animation-delay: 250ms * $i;
            }
        }
    }

    &__link {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__link:link {
        text-decoration: none;
        color: $black;
    }

    &__link:visited {
        color: $black;
    }

    &__nameWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: $spacing * 2 $spacing * 3 $spacing * 2 $spacing;
    }

    &__name {
        font-size: 18px;
        font-weight: 500;
        margin: 0px 0px $spacing 0px;
    }

    &__detailWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__detail {
        margin: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
        font-weight: 300;
    }

    &__price {
        margin: 0px;
        font-weight: 700;
        font-size: 15px;
        color: $dark-grey;
    }

    &__choice:hover &__iconWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0px solid #99E2D0;
        background: #99E2D0;
        padding: $spacing * 5 $spacing * 4;
        border-radius: 0px 20px 20px 0px;
        width: fit-content;
        animation: order 100ms;
    }

    &__icon {
        position: absolute;
        background: $white;
        border-radius: 50%;
        border: 6px solid $white;
        width: 12px;
        color: $color-tertiary;
        font-size: 12px;
        transform: rotate(1turn);
    }
}

@media screen  and (min-width: 768px) {
    .menuHeader {
        margin: 16px 72px;

        &__wrapper {
            width: 100%;
        }

        &__logo {
            width: 200px;
        }
    }

    .section {
        &__picture {
            height: 450px;
        }

        &__picture--PaletteduGout {
            background-position: bottom -90px right;
        }

        &__picture--NoteEnchantee {
            background-position: bottom -340px right;
        }

        &__picture--AlaFrancaise {
            background-position: bottom -85px right;
        }

        &__picture--DelicedesSens {
            background-position: bottom -50px right;
        }

        &__wrapper {
            margin: -$spacing * 8 $spacing * 10 0px $spacing * 10;
        }

        &__header {
            justify-content: center;
            gap: $spacing * 3;
            margin: $spacing * 6 0px 0px 0px;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 150px;
        padding: 0px $spacing * 10;
        margin: 0px;

        &__title {
            width: 5%;
        }

        &__choice {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__nameWrapper {
            padding: $spacing * 2;
        }

        &__name, &__detail {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &__detail {
            font-size: 16px;
            font-weight: 400;
        }
    }
}

@media screen  and (min-width: 1200px) {
    .section {

        &__picture--PaletteduGout {
            background-position: bottom -200px right;
        }

        &__picture--NoteEnchantee {
            background-position: bottom -490px right;
        }
        
        &__picture--AlaFrancaise {
            background-position: bottom -170px right;
        }
        
        &__picture--DelicedesSens {
            background-position: bottom -145px right;
        }

        &__wrapper {
            margin: -$spacing * 8 192px 0px 192px;
        }
    }

    .menu {
        padding: 0px 150px;
    }
}
