$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-tertiaryDarker: #008766;
$white: #ffffff;
$black: #000000;
$shadow-color: #D2D2D2;
$light-grey: #EAEAEA;
$dark-grey: #353535;
$card-color: #F6F6F6;
$spacing: 8px;
$title-size: 24px;