.like  > .like__icon--solid {
    display: none;
 }

.like {
    border: none;
    background: none;
    cursor: pointer; 

    &__icon {
        font-size: 24px;
        color: $black;
    }

    &:link {
        text-decoration: none;
    }
    
    &:hover &__icon--solid {
        display: block;
        background-image : linear-gradient(to bottom right, $color-primary, $color-secondary);
        -webkit-background-clip: text;
        color: transparent;
    }

    &:hover &__icon--regular {
        display: none;
    }
}